body{
    font-family: monospace;
    background-color: rgb(24, 24, 24);
    background-repeat: repeat;
    font-size: 17px;
}

.marcie{
    background-image: url(/kepek/tenger2.jpg);
    color: aqua;
}

.andras{
    background-color: rgb(6, 6, 6);
    color: white;
}
main{
    border-radius: 10px;
    border: solid 10px rgb(15, 15, 15);
    margin: auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "a c"
    "f f"
    ;
}
header{
    margin: auto;
    grid-area: h;
}

a{
    border: 10px solid rgb(15, 15, 15);
    border-radius: 10px;
    font-size: 20px;
    color: firebrick;
    text-decoration: none;
    background-color: rgb(19, 19, 19);
}

li{
    display: inline;
}

a:hover{
    color: white;
    text-decoration: none;
}

.menu:hover{
}
.oldalak{
    padding: 10px;
    grid-area: o;
    border-radius: 10px;
    margin: auto;
}
.menu{
    text-align: center;
    
}

aside{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    grid-area: c;
}


footer{
    margin: 5px;
    grid-area: f;
    padding: 5px;
    margin: 0px;
    border-top: solid 10px rgb(15, 15, 15);
}
ol, ul{
    list-style: none;
}
.Nevek{
    color: aqua;
}
.Nevek2{
    background-color: rgb(19, 19, 19);
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}
nav{
    grid-area: n;
    margin-left: 50px;
}
article{
    grid-area: a;
}
.cikk{
    
}
div {
    width: auto;
    height: auto;
    position: relative;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(19, 19, 19);
    border: solid 10px;
    border-color: rgb(15, 15, 15);
    border-radius: 10px;
    animation: mymove 2s alternate;
}
  
#div1 {animation-timing-function: ease;}
  
@keyframes mymove {
    from {left: -1000px;}
    to {left: 0px;}
}

img{
    border: solid 10px;
    border-color: rgb(15, 15, 15);
    border-radius: 10px;
}

@media only screen and (max-width:500px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "doboz"
        "o"
        "c"
        "f"
        ;
    }
}